<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">
      <span class="emoji">🐸</span> RANA POINTS <span class="emoji">🐸</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">CONVERTIDOR RANA POINTS </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Cantidad A Convertir</ion-label>
          <ion-input type="number" [(ngModel)]="amount" class="input-large"></ion-input>
        </ion-item>

        <div class="currency-selectors">
          <ion-label>De</ion-label>
          <ion-item>
            <ion-select [(ngModel)]="fromCurrency" interface="popover">
              <ion-select-option *ngFor="let currency of currencies" [value]="currency.code">
                {{currency.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- <div class="arrow">➜</div> -->

          <ion-label>A</ion-label>
          <ion-item>
            <ion-select [(ngModel)]="toCurrency" interface="popover">
              <ion-select-option *ngFor="let currency of filteredCurrencies" [value]="currency.code">
                {{currency.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-button expand="block" (click)="convert()" color="success" class="convert-button">
          <ion-icon name="cash-outline" slot="start"></ion-icon>
          Convertir
        </ion-button>

        <ion-item *ngIf="result" class="result-item">
          <ion-label class="ion-text-center">
            <h2>Resultado:</h2>
            <p class="result-value">{{result | number:'1.2-2'}} {{toCurrency}}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
